<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Finale.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Finale.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>170.078740155</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>188.97637795</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>718.11023622</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1625.196850394</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
        </Finale.Properties.Settings>
    </applicationSettings>
</configuration>